body{
    background-color:dimgray;
    width: 100%;
    height: 100%;
}

h2{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

h3{
    color: white;
    font-size: 1.5rem;
}

nav{
    opacity: 1;
    z-index: 10;
}



/* skills section */


.skills h2{
    margin-bottom: 5rem;
}

@keyframes spin-right {
    100% {transform: rotate(360deg);}
}

@keyframes spin-left {
    100% {transform: rotate(-360deg);}
}

.orbit {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 8rem;
    height: 8rem;
    margin-top: -4rem;
    margin-left: -4rem;
    animation: spin-right 20s linear infinite;
}

.comment{
    animation: spin-left 20s linear infinite;
    margin-top: 4rem;
    opacity: 0;
    height:0;
}

.bubble{
    position: relative;
    left: 7rem;
    top:-5rem;
    background-color: white;
    width:6rem;
    height: 4rem;
    text-align: center;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-img{
    width: 8rem;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
    position: absolute;
    animation: spin-left 20s linear infinite;
}

.center-img:hover{
    cursor: pointer;
}

.orbit li {
    width: 6rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #240090;
    color: white;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 1rem;
    left: 1rem;
    animation: spin-left 20s linear infinite;
}

.orbit li img {
    width: 3.5rem;
}

.orbit li:nth-child(3) img {
    width: 3rem;
    border-radius: .5em;
}
.orbit li:nth-child(3) p {
    font-size: 0.8rem;
}

.orbit li div {
    opacity: 0;
    width: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #240090;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms;
}

.orbit li > *{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orbit li:first-child {
    margin-left: 150%;
}

.orbit li:nth-child(2) {
    margin-top: 150%;
}

.orbit li:nth-child(3) {
    margin-left: -150%;
}

.orbit li:nth-child(4) {
    margin-top: -150%;
}


.orbit li:hover > div {
    opacity: 0.8;
}




/* projects section */




#projects{
    height: min-content;
    width: 100%;
    background-color: #240090;
    padding: 4rem;
}

.project-grid{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
}

.project-card{
    background-color: gray;
    color: white;
    aspect-ratio: 1;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}

.project-card a{
    text-decoration: none;
}

.project-card a:visited{
    color: white;
}

.project-card a h3{
    padding-bottom: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-card a p{
    line-height: 2rem;
    font-family: 'Courier New', Courier, monospace;
}