html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

.accent{
    color: #3500D3;
    font-weight: 600;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.spacer {
    height: 10%;
    margin: 0;
}

header {
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    padding-top: 2em;
}

h2{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hello{
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.intro{
    text-align: center;
    position: relative;
    left: 10%;
    width: 90%;
    word-spacing: .4rem;
    letter-spacing: .05rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: 1.5s fadeIn 2.5s forwards;
}

.downBtn {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%,0);

    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: #282828;
    opacity: 0;
    animation: 1s fadeIn 3.5s forwards;
}



.arrow{
    border-bottom: solid white 0.5em;
    border-right:solid white 0.5em;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0) rotate(45deg);
}

.arrow:hover{
    top: 20%;
}

#logo {
    font-weight: 600;
    font-size: 1.5rem;
    color:white;
    margin-right: auto;
    padding: 0.5rem;

}
nav{
    background-color: #0C0032;
    position:fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    animation:  1s fadeIn 4.5s forwards;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}

nav li{
    color: white;
    padding: 1rem;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    height: 100%;
    width: 100%;
    padding: 2rem 4rem;
    box-sizing: border-box;
}

#about{
    background-color: #282828;
}

